body {
    text-align: center;
    font-family: Arial;
    margin-top: 100px;
    transition: background 0.5s;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}