body {
    font-family: Arial;
    text-align: center;
    background-color: antiquewhite;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 300px;
    height: 180px;
    margin: 20px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

/* Hover Zoom Effect */
.image img:hover {
    transform: scale(1.2);
}