
body{
    text-align: center;

    
}

button{
    background-color:  rgb(157, 157, 220);
    color: azure;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    transition: 0.3s;
   
}

button:hover{
    background-color: rgb(76, 112, 76);
    transform: scale(1.1);
}