body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    background-color: #222;
    padding: 30px 60px;
    border-radius: 10px;
}

#time {
    color: #00ffcc;
    font-size: 50px;
    font-family: Arial, sans-serif;
    letter-spacing: 3px;
}