body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.progress-container{
    width: 400px;
    height: 30px;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.progress-bar{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
}