
body{
    margin: 0;
    font-family: Arial;
}
.navbar{
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: rgb(188, 126, 126);
    overflow: hidden;
}

.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    color: rgb(218, 227, 236);
    text-decoration: none;
    padding: 14px 20px;

}

.navbar li a:hover{
    background-color: rgb(164, 190, 181);
}