body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: Arial;
}

.box {
    width: 250px;
    background-color: rgb(229, 212, 212);
    padding: 20px;
    margin: 150px auto;
    text-align: center;
    border: 1px solid black;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 5px;
}

input[type="submit"] {
    width: 40%;
    padding: 5px;
}