body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #e4e4e4;
    padding: 8px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

button {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}